{% extends "base.html.j2" %}
{% block content %}

<div class="container mt-5">
    <form class="row g-3" action="/puzzle">
        <div class="col-auto">
            <input type="text" class="form-control" id="code"  name="code" placeholder="Code from Terminal">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
